body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: white;
  background: #001220;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #001220;
}

body::-webkit-scrollbar-thumb {
  background: white;
}

.signup {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar {
  width: 70px;
  height: 100vh;
  position: fixed;
}

p.description {
  margin: 0px;
  width: 500px;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(10px);
}

.first-text {
  transform: translateY(-100px);
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 550px;
  padding: 0px 20vw 0px;
}

h1.greet {
  font-size: 100px;
  margin-bottom: 40px;
}


.spacer {
  aspect-ratio: 960/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.purple {
  background: #560090;
}

.darkorange {
  background: #871400;
}

.orange {
  background: #F5730A;
}

.layer1 {
  background-image: url('SVG/layer1.svg');
}

.layer2 {
  background-image: url('SVG/layer2.svg');
  aspect-ratio: 960/100;

}

.layer2-1 {
  background-image: url('SVG/layer2-1.svg');

}

.layer3 {
  background-image: url('SVG/layer3.svg');
  aspect-ratio: 960/100;

}

.layer3-1 {
  background-image: url('SVG/layer3-1.svg');

}

.space {
  display: block;
  padding: 50px;
}

.logos {
  display: flex;
  height: 350px;
  width: 1100px;
  align-items: center;
  justify-content: space-between;
}

img.logo {

  object-fit: cover;
  width: 250px;
  transition: width 0.5s;
}


.logo:hover {
  width: 300px;

}


.title-soc {
  font-size: 65px;
  margin-top: 90px;
  margin-bottom: 50px;
}

.vid-title {
  font-size: 50px;
  margin-top: 20px;
}

.map-title {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.gmail {
  margin-bottom: 100px;
  background: white;
  color: black;
  border: none;
  border-radius: 80px;
  padding: 5px 10px;
}

video {
  width: 80vw;
  border: none;
  background-image: linear-gradient(#9900FF, #F5730A);
  padding: 20px;
  margin-bottom: 80px;
  border-radius: 20px;
}

iframe {
  margin-bottom: 30px;
}

.note {
  display: inline-block;
  color: black;
  margin: 0px 0px 0px 900px;
  transform: translateY(-50px);
}

.first {
  align-items: baseline;

}

.description {
  display: inline-block;
  width: 100px;
}

#profile {
  width: 35vw;
}

.hidden {
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(1);
  transform: translateX(-100%);

}